---
import BaseLayout from "../layout/BaseLayout.astro";
import "../styles/global.css";
import Bento from "./../components/Bento.astro";
---

<BaseLayout
  title="Ecualizador 5 Bandas - Procesamiento de Audio en Tiempo Real"
>
  <main>
    <Bento />
  </main>
</BaseLayout>
